html {
  line-height: 1;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'cairo', sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: $primary-color;
}

.heading__primary {
  font-size: 2rem;
}
