.btn {
  border: none;
  padding: 1.5rem 2.5rem;
  font-weight: bold;
  border-radius: 10px;

  &--primary {
    background-color: $primary-color;
    color: $color-white;
    transition: all 0.5s;

    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
    }
  }
}
