.form {
  padding: 20px;

  &__group:not(:last-child) {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  &__input {
    font-weight: bold;
    background-color: #d9d8da;
    width: 70%;
    padding: 1rem 2rem;
    border-radius: 50px;
    border: none;
  }

  &__input[type='text'] {
    border: 3px solid $secondary-color;
  }

  &__input[type='email'] {
    border: 3px solid $secondary-color;
  }

  &__textarea {
    width: 70%;
    font-weight: bold;
    padding: 1rem 2rem;
    background-color: #d9d8da;
    border-radius: 10px;
    border: 3px solid $secondary-color;
    box-sizing: border-box;
    resize: none;

    @include respond(small-phone) {
      width: 90%;
    }
  }
}
