.container {
  margin: 300px auto;
  width: 100vh;
  background-color: #000;
}

.comingsoon {
  text-align: center;
  width: 70%;
  color: #fff;
  transform: translateX(40%, -40%);
}

.email:link,
.email:active {
  text-decoration: none;
  color: #f24c27;
}
