.container {
  margin: 400px auto;
  width: 100vh;
  background-color: #000;
}

.comingsoon {
  width: 70%;
  color: #161426;
}

.email:link,
.email:active {
  text-decoration: none;
  color: #f24c27;
}
